<!DOCTYPE html>
<html>
<head>
  <title>NYT Districts API Demo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
